<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <!--v-modle 实现输入项双向绑定-->
    <input type="text" v-modle="message" />Vue方式填充span中的内容:<span>{{message}}</span>
     <!--将arr数组的内容表现出来；v-for-->
    <ul>
        <li v-for="a in arr">{{a}}</li>
    </ul>

    <div v-if="isShow">点击控制显示和隐藏</div>
    <button type="button" @click="isShow=!isShow">显示和隐藏</button>
</div>
</body>
<script>
    <!--根主件-->
    let vm=new Vue({
      el:"#app",
        data:{
          message:'hi',
            arr:['joker','fred','ted'],
            isShow:true
        }
    })
</script>

</html>